version: '3.9'
services:
  postgres:
    image: postgres:14
    container_name: pg_test
    environment:
      POSTGRES_USER: miya
      POSTGRES_PASSWORD: miya123
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
